<section>
  <div class="link-products">
    <a routerLink="/PRODUCTS">Retour aux produits</a>
  </div>
  <div class="container">
    <div class="product-image">
      <!-- <img src="{{ products[0].products[0].picture }}" alt="produit sélectionné" /> -->
      <img src="{{ element.picture}}" alt="produit sélectionné" />
    </div>
    <div class="product-details">
      <div class="details-container">
        <h2 class="product-title">{{ element.title }}</h2>
        <p class="product-price">{{ element.price /100 |number: "1.2" }}€</p>
        <p>{{ element.description }}</p>
      </div>
      <div class="inputs-container">
        <h2 class="included-title">Ingrédients inclus</h2>
        <!-- Afficher seulement les ingrédients inclus du produit séletionné -->
        <div class="inputs">
          <div
            class="inputs-display"
            *ngFor="let includedIngredient of element.includedIngredients"
          >
            <label for="included">{{
              includedIngredient.ingredient.title
            }}</label>
            <input type="radio" class="radio" id="included"/>
          </div>
          <div>
            <p class="extras">Extras</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

