<section>
  <div
    class="container"
    *ngFor="let extraIngredient of products[0].products[0].extras; index as i"
  >
    <div>
      <p class="ingredient">{{ extraIngredient.ingredient.title }}</p>
      <p class="ingredient-price">
        {{ extraIngredient.additionalPrice * (100 / 10000) }}€
      </p>
    </div>
    <div class="counter-block">
      <button class="counter-minus" (click)="decrement(i)" [class.darkGrey]="colorSwitch">-</button>
      <p class="counter">{{ extraIngredient.quantity }}</p>
      <button class="counter-plus" (click)="increment(i)" [class.grey]="colorSwitch">+</button>
    </div>
  </div>
  <div class="add-button">
    <button routerLink="/basket">Ajouter au panier . {{ totalExtras/100 }} €</button>
  </div>
</section>
