<p>product-category works!</p>
<main>
    <!-- <ul >
        <li *ngFor="let item of initCategory('pizza')">
            <article>
                <img src={{item.picture}} alt={{item.picture}}>
                <h3>{{item.title}}</h3>
                <p>{{item.price}}</p>
            </article>
        </li>
    </ul> -->

    <ul >
        <li *ngFor="let item of initCategory('drink')">
            <article>
                <img src={{item.picture}} alt={{item.picture}}>
                <h3>{{item.title}}</h3>
                <p>{{item.price}}</p>
            </article>
        </li>
    </ul> -->

    <ul >
        <li *ngFor="let item of initCategory('dessert')">
            <article>
                <img src={{item.picture}} alt={{item.picture}}>
                <h3>{{item.title}}</h3>
                <p>{{item.price}}</p>
            </article>
        </li>
    </ul> -->
</main>
